{% assign breadcrumb = page.url | split: "/" | shift %}
<nav aria-label="breadcrumb" class="bg-blue">
    <div class="container">
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">
                <a href="{{ "/" | relative_url }}">Home</a>
            </li>
            {% assign path = "" %}
            {% for crumb in breadcrumb %}
                {% if forloop.last %}
                <li class="breadcrumb-item active" aria-current="page">
                    {{ page.title }}
                </li>
                {% else %}
                {% assign path = path | append:"/" | append: crumb %}
                    <li class="breadcrumb-item">
                        <a href="{{ path|relative_url }}">{{ crumb }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ol>
    </div>
</nav>

