$blue:    #007bff !default;

$theme-blue: #00a9f3;
$theme-dark-blue: #004c7d;
$theme-orange: #ed4e1b;

$body-bg: #f3f3f3 !default;
$body-color: #000 !default;

// $link-hover-decoration: none;
$link-color: $theme-dark-blue !default;
$link-hover-color: $theme-dark-blue !default;
$nav-link-color: $theme-dark-blue !default;



$line-height-base: 1.75 !default;

