@import "variables";
@import "bootstrap/bootstrap";

/***
    Root
***/
h3 {
    font-weight: 700;
    line-height: 1.2381;
    font-size: 18px;
}

/***
    Custom class
***/
.bg-light-blue {
    background-color: $theme-light-blue;
}

.menu-icon::before {
    content: "\e9bd";
    font-family: 'icomoon' !important;
}

.nav-text-blue {
    button { 
        color: $theme-dark-blue
    }
}

/***
    Header 
***/
.navbar {
    .nav-link {
        margin-left: 0;
        padding: 35px 5px;
        font-size: 20px;
        color: $nav-link-color;
        border-bottom: 5px solid transparent;

        &:hover, &:focus {
            border-bottom: 5px solid $primary;
            color: $nav-link-color;
        }
    }

    .navbar-brand {
        margin-right: 60px;
    }
}

.navbar {
    .nav-menu-link {
        text-decoration: underline;
    }
}

header {
    background-color: $white;
    nav {
        padding: 0;
    }
}

.top-header {
    height: 45px;
}

.main-header {
    &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        border-top: 1px solid #EEE;        
    }
}

.input-search {
    padding-right: 30px;
    background-color: $body-bg;
    height: 38px;
    line-height: 38px;
    border: 0px;

    &:focus {
        background: $body-bg;
        border: none;
        outline: none;
        box-shadow: none;
    }
}

.btn-search {
    display: inline-block;
    // height: 38px;
    // width: auto;
    // line-height: 38px;
    background-color: $theme-blue-gray;
    color: #000;

    &:hover, &:active, &:focus {
        background-color: $theme-blue-gray;
        color: #000;
    }
}

.dummy {   
    form {
        position: relative;

        .form-control::placeholder {
            color: $theme-mid-gray;
            opacity: 1;
        }
    }

    .form-actions {
        position: absolute;
        top: 0;
        right: 0;

        &::before {
            position: absolute;
            height: 38px;
            line-height: 38px;
            right: 20px;
            font-size: 18px;
        }

        button {
            width: 50px;
            height: 38px;
            z-index: 4;
            position: relative;
            opacity: .01;
        }
    }
}

.icon-search::before, .dummy .form-actions::before {
    content: "\e986";
    font-family: icomoon;
    color: $theme-dark-blue;
}

.small-navigation {
    .nav-item {
        width: 100%;
    }

    .input-search {
        width: 100%;
    }
}

/***
    Breadcrumb
***/
.breadcrumb {
    line-height: $line-height-sm;
    position: relative;

    a {
        color: $black;
        text-decoration: none;
    }

    &::before, &::after {
        content: '';
        background: inherit;
        position: absolute;
        top: 0;
        bottom: 0;
    }

    &::before {
        right: 100%;
        width: 100vw;
    }
    &::after {
        left: 100%;
        width: 100vw;
    }
}

// Text scaling depending on view size
/***
    Page content
***/
// @media 1024px
.page-header-img {
    padding: 0;
    margin: 0 0 -215px 0;
}
// @media 1024px
aside { 
    &.layout-sidebar {
        color: $theme-dark-gray;
        padding: 40px 35px 0;
        // .region-sidecontent {
            
        // }
    }
}

.page-title {
    margin-bottom: 0;
    &::after { 
        content: "";
        background: $theme-gray;
        height: 1px;
        width: 97px;
        display: block;
        margin-top: 20px;
    }
}

.container-main {  
    padding-bottom: 38px;
}

.social-region { 
    h3 {
        font-size: 20px;
        line-height: 1.2381;
        margin: 0 0 10px 0;
        font-weight: 700;
    }
}

/***
Footer
***/

.contact {
    background: $white;
    border-top: 1px solid #EEE;
    
    // TODO: remove btn box-shadows (through bootstrap variables)
    a:focus, a:active:focus {
        box-shadow: none!important;
    }
}

.footer-navigation {
    background-color: $theme-grayish;
    padding-bottom: 20px;
    border-top: 3px solid $theme-darker-gray;

    h2 {
        margin: 0 0 5px;
        padding: 30px 0 5px;
        color: $theme-dark-gray;
        font-weight: 400;
        border-bottom: 1px solid $theme-uppermid-gray;
    }

    ul {
        padding: 0;
        li {
            list-style: none;
            a {
                display: block;
                padding: 2px 0 10px;
                color: $theme-dark-gray;
                font-size: 1em;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
