
{% include head.html %}
<body>
    {% include header.html %}
    
    <main>
        <div>
            <div class="container">
                {% include breadcrumb.html %}
            </div>
            <div class="page-header-img">
                <img class="img-fluid d-block my-0 mx-auto" data-src="holder.js/1400x480?auto=yes&bg=2a2025">
            </div>
        </div>
        <div class="container">
            <div class="row">
                <section class="layout-content col-12">
                    <article class="px-5 py-5 bg-light">
                        <h1 class="page-title">{{ page.title }}</h1>
                        {{ content }}
                    </article>
                </section>
                <aside class="layout-sidebar has-header-image col-12 col-md-4">
                    <p>Gepubliceerd: {{ page.date|default: "Datum onbekend" }}</p>
                </aside>
            </div>&nbsp;
        </div>
        <div class="container">
            <div class="row">
                <section class="layout-content social-region col-12 col-md-8 px-5 py-5">
                    <h3>Deel deze pagina</h3>
                    <a href="#" class="text-lowercase icon-">Facebook</a>
                    <a href="#" class="text-lowercase icon-">Twitter</a>
                </section>
            </div>
        </div>
    </main>
    {% include footer.html %}
</body>

</html>