{% include head.html %}
<body>
    {% include header.html %}
    
    <main>
        <div>
            {% include breadcrumb.html %}
            <div class="page-header-img">
                {% assign source = page.header-img | relative_url %}
                <img class="img-fluid d-block my-0 mx-auto" {% if source %} src="{{ source }}" {% else %} src="/assets/img/default-image.jpg" {% endif %}>
            </div>
        </div>

        <div class="container">
            <div class="row">
                
                <section class="layout-content col-12">
                    <article class="page-content bg-light">
                        <h1 class="page-title">{{ page.title }}</h1>
                        {{ content }}
                    </article>
                </section>

                <aside class="layout-sidebar has-header-image col-12 col-md-4">
                    <p>Gepubliceerd: {{ page.date | date_to_long_string | default: "-" }}</p>

                    {% if page.parent %}
                        <section>
                            <h2>{{ page.parent | capitalize }}</h2>
                            {% assign pages = site.content | where: "parent", page.parent | sort: weight%}
                            <ol class="list-unstyled">
                                {% for item in pages %}
                                    <li>
                                        <a href="{{ item.url | relative_url }}" class="{% if item.url == page.url %}active{% endif %}">{{ item.title | escaped }}</a>
                                    </li>
                                {% endfor %}
                            </ol>
                        </section>
                    {% endif %}

                </aside>
            </div>

            {% if site.github %}

                <div class="row">
                     <section class="layout-content social-region col-12 col-md-8 px-5 py-5">
                         <a href="https://github.com/{{ site.github }}" class="text-lowercase icon-" rel="noopener noreferrer">Github</a>
                     </section>
                 </div>

            {% endif %}
        </div>

    </main>
    {% include footer.html %}
</body>

</html>