---
layout: default
---

<section class="subject-list">
    {% capture url %}{{ page.url | replace: "index", "" }}{% endcapture %}
    {% assign children = site.content | where_exp:"other", "other.url contains url" | sort: weight %}

    {% if children.size > 0 %}

        {% for child in children %}
            {% assign remaining_path = child.url|split: url %}
    <em>{{remaining_path[1] }}</em>

            {% unless remaining_path[1] == 'index' %}
                {% unless remaining_path[1] contains '/' %}
                    <a href="{{ child.url | relative_url }}">{{ child.title | escaped }}</a>
                {% endunless %}
            {% endunless %}

        {% endfor %}

    {% else %}

        {% assign sorted_navigation = site.data.navigation | sort: 'weight' %}

        {% for nav in sorted_navigation %}
            <a href="{{ nav.link | relative_url }}">{{ nav.name | escaped }}</a>
        {% endfor %}

    {% endif %}
</section>