---
layout: default
---

<section class="subject-list">
    {% capture url %}{{ page.url | replace: "index", "" }}{% endcapture %}
    {% assign children = site.content | where_exp:"other", "other.url contains url" | sort: weight %}

    {% if children.size > 0 %}

        {% for child in children %}
            {% unless child.url contains '/index' %}
                <a href="{{ child.url | relative_url }}">{{ child.title | escaped }}</a>
            {% endunless %}
        {% endfor %}

    {% else %}

        {% assign sorted_navigation = site.data.navigation | sort: 'weight' %}

        {% for nav in sorted_navigation %}
            <a href="{{ nav.link | relative_url }}">{{ nav.name | escaped }}</a>
        {% endfor %}

    {% endif %}
</section>